<h1><%= title %></h1>
<ul>
  <% if (genre_list) { genre_list.forEach(genre => { %>
  <li>
    <a href="<%= genre.url %>"><%= genre.name %></a>
  </li>
  <% })} else { %>
  <li>There are no genres.</li>
  <% } %>
</ul>
